{% capture image-path %}
{% include image-path.html image-path=include.image-path %}
{% endcapture %}

{% assign image-path = image-path | strip %}

{::nomarkdown}
</div>
{:/nomarkdown}


<div class="sticky-bg-container">
  <div class="sticky-bg"
    style="background-image: url('{{ image-path }}'); height: {{ include.height }}">
  </div>

  {% if include.box-content %}

    <div style="height: {{ include.above-box-space }}">&nbsp;</div>

    <div class="sticky-bg-content">{{ include.box-content | markdownify }}</div>

    <div style="height: {{ include.below-box-space }}">&nbsp;</div>

  {% endif %}
</div>


{::nomarkdown}
<div class="container">
{:/nomarkdown}
