{% capture image-path %}
{% include image-path.html image-path=include.image-path %}
{% endcapture %}

{% assign image-path = image-path | strip %}


{::nomarkdown}
</div>
{:/nomarkdown}

<div class="bg-image" style="background-image: url('{{ image-path }}'); height: {{ include.height }}">
  <h1 id="page-title">{{ include.title}}</h1>
  <h2 id="page-subtitle">{{ include.text }}</h2>

  {% if include.box-content %}

    <div style="height: {{ include.above-box-space }}">
      &nbsp;
    </div>

    <div class="bg-text-box">
      {{ include.box-content | markdownify }}
    </div>

    <div style="height: {{ include.below-box-space }}">
      &nbsp;
    </div>

  {% endif %}


</div>

{::nomarkdown}
<div class="container">
{:/nomarkdown}
