<nav class="navbar">
  <div class="navbar-inner">
    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title | default: "Your Site" }}</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" id="navbarMain">
      <ul class="navbar-nav">
        {% for item in site.data.nav-top %}
          {% if item.items %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false">
                {{ item.title }}
              </a>
              <ul class="dropdown-menu">
                {% for subitem in item.items %}
                  {% if subitem.divider %}
                    <li><hr class="dropdown-divider"></li>
                  {% else %}
                    <li><a class="dropdown-item" href="{{site.baseurl}}{{ subitem.url }}">{{ subitem.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{site.baseurl}}{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
