<footer>
<div class="footer-columns">

  <div class="footer-column">
    <h3>Get Started</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/getting-started/">Quick Start Guide</a></li>
      <li><a href="{{ site.baseurl }}/#three-templates-to-choose-from">View Templates</a></li>
    </ul>
  </div>

  <div class="footer-column">
    <h3>About</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/about">Philosophy</a></li>
      <li><a href="{{ site.baseurl }}/faqs#why-is-xanthan-open-source">Why Open Source</a></li>
      <li><a href="{{ site.baseurl }}/faqs">FAQs</a></li>
    </ul>
  </div>

  <div class="footer-column">
    <h3>Tinker</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/content-design/">Content & Design</a></li>
      <li><a href="{{ site.baseurl }}/scrollstories/">ScrollStories</a></li>
      <li><a href="https://github.com/xanthan-web/xanthan-web.github.io/blob/main/CONTRIBUTING.md">Contributing</a></li>
      <li><a href="{{ site.baseurl }}/content-design/troubleshooting">Troubleshooting</a></li>
    </ul>
  </div>

  <div class="footer-column">
    <h3>Connect</h3>
    <ul>
      <li><a href="https://github.com/xanthan-web/xanthan-web.github.io">GitHub Repository</a></li>
      <li><a href="https://github.com/xanthan-web/xanthan-web.github.io/issues">Report Issues</a></li>
      <li><a href="https://github.com/xanthan-web/xanthan-web.github.io/blob/main/CONTRIBUTING.md">Contributing</a></li>
    </ul>
  </div>

</div>
</footer>