{% assign cards = include.cards %}

<!-- change row-cold-md-2 to 3 or 4 for different number of cols -->
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for card in cards %}
  {% if card.title and card.summary %}
  <div class="col">
    <div class="card v-card h-100"> 
      {% assign card_href = card.link | default: card.url %}
      <a href="{{site.baseurl}}{{ card_href }}">
        <img src="{{site.baseurl}}{{ card.dir }}{{ card.thumbnail }}" class="card-img-top" alt="...">      
        <div class="card-body">
          <h3 class="card-title">{{ card.title }}</h3>
          <p class="card-text">{{ card.summary }}</p>
        </div>
      </a>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
