<div class="sidebar">
  {% if site.data.sidebar.profile %}
  <div class="profile">
    <img src="{{ site.baseurl }}{{ site.data.sidebar.profile.image_url }}" alt="{{ site.data.sidebar.profile.alt_text }}">
    {% if site.data.sidebar.profile.name %}
      <h2>{{ site.data.sidebar.profile.name }}</h2>
    {% endif %}
    {% if site.data.sidebar.profile.description %}
      {{ site.data.sidebar.profile.description | markdownify }}
    {% endif %}
  </div>
  {% endif %}

  {% assign link_fw = site.data.sidebar.settings.links_font_weight | default: 'inherit' %}
  {% assign link_fw_class = '' %}
  {% if link_fw == 'bold' %}
    {% assign link_fw_class = 'link-fw-bold' %}
  {% elsif link_fw == 'normal' %}
    {% assign link_fw_class = 'link-fw-normal' %}
  {% endif %}

  <ul>
    {% for link in site.data.sidebar.links %}
      <li>
        <a class="sidebar-link {{ link_fw_class }}" href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
          {% if link.icon %}
            <i class="{{ link.icon }}" aria-hidden="true"></i>
          {% endif %}
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>