<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{site.baseurl}}/">Xanthan</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for item in site.data.top-nav %}
          {% if item.items %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ item.title }}
              </a>
              <ul class="dropdown-menu">
                {% for subitem in item.items %}
                  {% if subitem.divider %}
                    <li><hr class="dropdown-divider"></li>
                  {% else %}
                    <li><a class="dropdown-item" href="{{site.baseurl}}{{ subitem.url }}">{{ subitem.title }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{site.baseurl}}{{ item.url }}">{{ item.title }}</a>
            </li>
          {% endif %}
        {% endfor %}        
      </ul>
          <!-- Workshop Mode Toggle (only visible on guide pages) -->
          {% if page.url contains '/guides/' or page.workshop_mode %}
          <div class="navbar-workshop-toggle me-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="workshopModeToggle" role="switch">
              <label class="form-check-label" for="workshopModeToggle">Workshop Mode</label>
            </div>
          </div>
          {% endif %}

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
