<footer>
  <div class="footer-bottom">
    <div class="container">
      <p>
        Xanthan is maintained by <a href="https://amaranth.unm.edu">Amaranth Digital Humanities Studio</a> at the <a href="https://www.unm.edu">University of New Mexico</a>
      </p>
      <p class="footer-tagline">
        Open source tools for sustainable digital scholarship • <a href="https://github.com/xanthan-web/xanthan-web.github.io/blob/main/LICENSE">GPL-3.0 License</a>
      </p>
    </div>
  </div>
</footer>
