<div aria-label="lower content area" id="lower" role="complementary">
  <div class="container"><!--LOWER-->
    <div class="row" id="footer-contact">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h2>Who We Are</h2>
        <ul>
          <li><strong>Director:</strong><a href="">Your name here</a></li>          
          <li><strong>Email</strong>: <a href="">youremail@unm.edu</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h2>Contact Us</h2>
        <h3>Your Center Name Here</h3>
        MSC 06 3760<br>
        1 University of New Mexico<br>
        Albuquerque, 87131<br>
        <ul class="list-inline">
          <li><a href="https://www.facebook.com/centerforthesouthwest"><span
                class="fa fa-facebook-square fa-3x footerIcons "></span></a>&#160; <a
              href="https://www.facebook.com/centerforthesouthwest"><span class="sr-only">Center for the Southwest on
                Facebook</span></a><a href="https://twitter.com/CntrSW"><span
                class="fa fa-twitter-square fa-3x footerIcons "></span></a>&#160; <a
              href="https://twitter.com/CntrSW"><span class="sr-only">Center for the Southwest on Twitter</span></a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <h2>Map</h2>
        <p>Find us on the <a href="http://map.unm.edu/">UNM Campus Map</a>: Mesa Vista Hall, #2061</p>
        <p><iframe allowfullscreen="allowfullscreen" frameborder="0" height="300"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d343.1826115840229!2d-106.61903483963478!3d35.08369090816822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xacfadc2ed7b3f12c!2sMesa%20Vista%20Hall!5e0!3m2!1sen!2sus!4v1585176987612!5m2!1sen!2sus"
            style="border: 0;" width="400"></iframe></p>
      </div>
    </div>
  </div>
</div>
