<div id="nav">
  <div class="container">
    <div class="navbar navbar-top" id="horiz-nav">
      <nav aria-label="Horizontal" class="navbar-collapse collapse" id="horz-nav">
        <ul class="nav navbar-nav" role="menubar">
          <li role="menuitem"><a href="{{site.baseurl}}" title="Home">Center for the Southwest</a></li>
          <li class="dropdown"><a href="{{site.baseurl}}/about">About</a></li>
          <li class="dropdown"><a aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown"
              href="{{site.baseurl}}/horn-lecture/">C. Ruth and Calvin P. Horn Lecture</a>
            <ul class="dropdown-menu" role="menu">
              <li role="menuitem"><a href="{{site.baseurl}}/horn-lecture/2025"
                  title="2025 C. Ruth and Calvin P. Horn Lecture in Western History and Culture">
                  2025 Lecture</a>
              </li>
              <li role="menuitem"><a href="{{site.baseurl}}/horn-lecture/about"
                  title="C. Ruth and Calvin P. Horn Lecture in Western History and Culture">
                  About the Horn Lecture</a>
              </li>
              <li role="menuitem"><a href="{{site.baseurl}}/horn-lecture/past-lectures"
                  title="Past Lectures">Past Lectures</a>
              </li>
            </ul>
          </li>
          <li class="dropdown"><a href="{{site.baseurl}}/support-us">Support Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>