  <a accesskey="2"
    aria-label="skip to main content" class="sr-only sr-only-focusable skip2content" href="#main" role="navigation">Skip
    to main content</a>
  
  <div aria-label="offcanvas nav toggle" class="nav-wrapper" id="offcanvas" role="navigation">
    <div class="navbar-header"><button class="menu-toggle navbar-toggle collapsed"
        data-target="#mobile-menu .navbar-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle
          navigation</span><span class="fa fa-reorder fa-2x"></span></button>
      <div id="mobile-menu">
        <div class="text-center visible-xs-block" id="mobile-toolbar">
          <ul aria-label="Resource Links" class="list-unstyled btn-group" role="group">
            <li class="btn btn-sm btn-default"><a href="https://directory.unm.edu/departments/" title="UNM A to Z">UNM
                A-Z</a></li>
            <li class="btn btn-sm btn-default"><a href="https://my.unm.edu" title="myUNM">myUNM</a></li>
            <li class="btn btn-sm  btn-default"><a href="https://directory.unm.edu" title="Directory">Directory</a></li>
            <li class="btn btn-sm  btn-default"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div id="page"><!-- start nav -->
    <div aria-label="header navigation" class="navbar navbar-unm" role="navigation">
      <div class="container"><a class="navbar-brand" href="https://www.unm.edu">The University of New
          Mexico</a><!-- search form -->
        <form action="//search.unm.edu/search" class="pull-right" id="unm_search_form" method="get">
          <div class="input-append search-query"><input accesskey="4" id="unm_search_form_q" maxlength="255" name="q"
              placeholder="Search" title="input search query here" type="text" /><button accesskey="s" class="btn"
              id="unm_search_for_submit" name="submit" title="submit search" type="submit"> <span
                class="fa fa-search"></span> </button></div>
        </form><!-- end search form -->
        <ul class="nav navbar-nav navbar-right hidden-xs" id="toolbar-nav">
          <li><a href="https://directory.unm.edu/departments/" title="UNM A to Z">UNM A-Z</a></li>
          <li><a href="https://my.unm.edu" title="myUNM">myUNM</a></li>
          <li><a href="https://directory.unm.edu" title="Directory">Directory</a></li>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Help </a>
            <ul class="dropdown-menu">
              <li><a href="https://student.unm.edu/student-support.html" title="Student Support">Student Support</a></li>
              <li><a href="https://studentinfo.unm.edu" title="StudentInfo">StudentInfo</a></li>
              <li><a href="https://fastinfo.unm.edu" title="FastInfo">FastInfo</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- end  nav -->
    
    <div aria-label="department logo block" id="header" role="banner">
      <div class="container">
        <nav aria-label="Secondary Navigation" class="navbar-collapse collapse" id="top-nav">
          <ul class="nav navbar-nav navbar-right" role="menubar">
            <li><a href="welcome/index.html">About UNM</a></li>
            <li><a href="academics/index.html">Academics</a></li>
            <li><a href="campus-life/index.html">Campus Life</a></li>
            <li><a href="research/index.html">Research</a></li>
            <li><a href="https://www.unmfund.org/">Give to UNM</a></li>
          </ul>
        </nav>
      </div>
    </div>